<!DOCTYPE html>
<html>
<head>
<title>Sundar</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="terminal">
<nav>
<a href="/">home</a>
<a href="/about">about</a>
<a href="/projects">projects</a>
<a href="/certifications">certifications</a>
<a href="/skills">skills</a>
<a href="/internship">internship</a>
<a href="/contact">contact</a>
</nav>
<div id="terminal-output"></div>
</div>
<script src="{{ url_for('static', filename='js/typing.js') }}"></script>
<script src="{{ url_for('static', filename='js/terminal-bg.js') }}"></script>
<script src="{{ url_for('static', filename='js/transitions.js') }}"></script>
<div> "          
               
    " </div>
<script>
startTyping(["$ whoami","Sundar J","","","$ role","ECE Student | DevOps Learner","","","$ status","Intern @ Saint Gobain Pvt, Chennai"]);
</script>
</body>
</html>
